/*  -*- Prolog -*-

    SWI-Prolog personalization file
*/

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
This is a sample user-initialisation file for the pl-cliquer package. If you 
wish to customise pl-cliquer, append this file to your local swiplrc and edit 
it to your preferences.

Installation:

	Unix/MacOS:	~/.swiplrc
	Windows:	<appdata>/swipl.ini (see win_folder(appdata, AppData))
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/********************************
 *	    pl-cliquer 		*
 *******************************/

% the easy thing to do is to setup some paths 
% that can be used to quickly load pl-cliquer later
% these are the common ones:

% the simplest way to accomplish this is with an
% environment variable called 'PL_CLIQUER_HOME'
% that points to cliquer's location (it is assumed that
% cliquer is built there).
user:file_search_path(cliquer, Cliquer) :-
	getenv('PL_CLIQUER_HOME', Cliquer).
user:file_search_path(cliquer, Build) :-
	getenv('PL_CLIQUER_HOME', Cliquer),
	atom_concat(Cliquer,'/build', Build).


% another way to set this up is by specifying the location itself.
user:file_search_path(cliquer, library).
user:file_search_path(cliquer, '/home/michael/pl-cliquer').
user:file_search_path(cliquer, '/home/michael/pl-cliquer/build').
